<LoadMore
  @class="activity-pub-follows-container"
  @selector=".directory-table .directory-table__cell"
  @action={{action "loadMore"}}
>
  {{#if this.model.hasActors}}
    <ResponsiveTable @className="activity-pub-follows">
      <:header>
        <TableHeaderToggle
          @field="actor"
          @labelKey="discourse_activity_pub.follow.actor"
          @automatic={{true}}
          @order={{this.order}}
          @asc={{this.asc}}
        />
        <TableHeaderToggle
          @field="user"
          @labelKey="discourse_activity_pub.follow.user"
          @automatic={{true}}
          @order={{this.order}}
          @asc={{this.asc}}
        />
        <TableHeaderToggle
          @field="followed_at"
          @labelKey="discourse_activity_pub.follow.followed_at"
          @automatic={{true}}
          @order={{this.order}}
          @asc={{this.asc}}
        />
      </:header>
      <:body>
      {{#each this.model.actors as |actor|}}
        <div class="directory-table__row activity-pub-follow">
          <div class="directory-table__cell activity-pub-follow-actor">
            <div class="activity-pub-follow-image">
              <ActivityPubActorImage @actor={{actor}} @size="large" />
            </div>
            <div class="activity-pub-follow-actor-content">
              <div class="activity-pub-follow-name">
                {{or actor.name actor.username}}
              </div>
              <div class="activity-pub-follow-handle">
                <ActivityPubActorHandle @actor={{actor}} />
              </div>
            </div>
          </div>
          <div class="directory-table__cell activity-pub-follow-user">
            {{#if actor.user}}
              <a
                class="avatar"
                href={{concat "/u/" actor.user.username}}
                data-user-card={{actor.user.username}}
              >
                {{avatar actor.user imageSize="small"}}
              </a>
            {{/if}}
          </div>
          <div class="directory-table__cell activity-pub-followed-at">
            {{bound-date actor.followed_at}}
          </div>
        </div>
      {{/each}}
      </:body>
    </ResponsiveTable>

    <ConditionalLoadingSpinner @condition={{this.model.loadingMore}} />
  {{else}}
    <p>{{i18n "search.no_results"}}</p>
  {{/if}}
</LoadMore>