<div class="activity-pub-about">
  <h1>{{i18n "discourse_activity_pub.about.title"}}</h1>
  <p>{{i18n "discourse_activity_pub.about.description"}}</p>
  {{#if this.hasCategoryActors}}
    <div class="activity-pub-actors categories">
      <h3>{{i18n "discourse_activity_pub.about.categories"}}</h3>
      <div class="activity-pub-actors-list">
        {{#each this.categoryActors as |actor|}}
          <ActivityPubActorCard @actor={{actor}} />
        {{/each}}
      </div>
    </div>
  {{/if}}
  {{#if this.hasTagActors}}
    <div class="activity-pub-actors tags">
      <h3>{{i18n "discourse_activity_pub.about.tags"}}</h3>
      <div class="activity-pub-actors-list">
        {{#each this.tagActors as |actor|}}
          <ActivityPubActorCard @actor={{actor}} />
        {{/each}}
      </div>
    </div>
  {{/if}}
</div>