<LoadMore
  @selector=".directory-table .directory-table__cell"
  @action={{action "loadMore"}}
  class="activity-pub-followers-container"
>
  {{#if this.hasActors}}
    <ResponsiveTable @className={{this.tableClass}}>
      <:header>
        <TableHeaderToggle
          @field="actor"
          @labelKey="discourse_activity_pub.follow_table.actor"
          @automatic={{true}}
          @order={{this.order}}
          @asc={{this.asc}}
        />
        <TableHeaderToggle
          @field="user"
          @labelKey="discourse_activity_pub.follow_table.user"
          @automatic={{true}}
          @order={{this.order}}
          @asc={{this.asc}}
        />
        <TableHeaderToggle
          @field="followed_at"
          @labelKey="discourse_activity_pub.follow_table.followed_at"
          @automatic={{true}}
          @order={{this.order}}
          @asc={{this.asc}}
        />
        {{#if this.currentUser.admin}}
          <th
            class="activity-pub-follow-table-actions directory-table__column-header"
          ></th>
        {{/if}}
      </:header>
      <:body>
        {{#each this.actors as |actor|}}
          <div class="directory-table__row activity-pub-follow-table-row">
            <div class="directory-table__cell activity-pub-follow-table-actor">
              <ActivityPubActor @actor={{actor}} />
            </div>
            <div class="directory-table__cell activity-pub-follow-table-user">
              {{#if actor.model}}
                <a
                  class="avatar"
                  href={{concat "/u/" actor.model.username}}
                  data-user-card={{actor.model.username}}
                >
                  {{avatar actor.model imageSize="small"}}
                </a>
              {{/if}}
            </div>
            <div
              class="directory-table__cell activity-pub-follow-table-followed-at"
            >
              {{bound-date actor.followed_at}}
            </div>
            {{#if this.currentUser.admin}}
              <div
                class="directory-table__cell activity-pub-follow-table-actions"
              >
                <ActivityPubFollowBtn
                  @actor={{this.actor}}
                  @followingActor={{actor}}
                  @reject={{route-action "reject"}}
                  @type="actor_reject"
                />
              </div>
            {{/if}}
          </div>
        {{/each}}
      </:body>
    </ResponsiveTable>

    <ConditionalLoadingSpinner @condition={{this.loadingMore}} />
  {{else}}
    <p>{{i18n "search.no_results"}}</p>
  {{/if}}
</LoadMore>