<div class="admin-title activity-pub-actor-title">
  <h2>{{this.title}}</h2>
</div>

<LoadMore
  @selector=".directory-table .directory-table__cell"
  @action={{action "loadMore"}}
  class="activity-pub-actors-container"
>
  {{#if this.hasActors}}
    <ResponsiveTable @className="activity-pub-actor-table">
      <:header>
        <TableHeaderToggle
          @field="actor"
          @labelKey="admin.discourse_activity_pub.actor.table.actor"
          @automatic={{true}}
          @order={{this.order}}
          @asc={{this.asc}}
        />
        <TableHeaderToggle
          @field="model"
          @labelKey="admin.discourse_activity_pub.actor.table.model"
          @automatic={{true}}
          @order={{this.order}}
          @asc={{this.asc}}
          class="activity-pub-actor-table-model"
        />
        <div
          class="activity-pub-actor-table-actions directory-table__column-header"
        >
          <div class="header-contents">
            {{i18n "admin.discourse_activity_pub.actor.table.actions"}}
          </div>
        </div>
      </:header>
      <:body>
        {{#each this.actors as |actor|}}
          <div class="directory-table__row activity-pub-actor-table-row">
            <div class="directory-table__cell activity-pub-actor-table-actor">
              <ActivityPubActor @actor={{actor}} />
            </div>
            <div class="directory-table__cell activity-pub-actor-table-model">
              <ActivityPubActorModel @actor={{actor}} />
            </div>
            <div class="directory-table__cell activity-pub-actor-table-actions">
              <DButton
                @action={{action "editActor" actor}}
                @label="admin.discourse_activity_pub.actor.edit.label"
                @title="admin.discourse_activity_pub.actor.edit.title"
                @icon="pencil"
                class="activity-pub-actor-edit-btn"
              />
            </div>
          </div>
        {{/each}}
      </:body>
    </ResponsiveTable>

    <ConditionalLoadingSpinner @condition={{this.loadingMore}} />
  {{else}}
    <p>{{i18n "search.no_results"}}</p>
  {{/if}}
</LoadMore>