<div class="admin-title activity-pub-log-title">
  <h2>{{i18n "admin.discourse_activity_pub.log.title"}}</h2>
</div>

<LoadMore
  @selector=".directory-table .directory-table__cell"
  @action={{action "loadMore"}}
  class="activity-pub-logs-container"
>
  {{#if this.hasLogs}}
    <ResponsiveTable @className="activity-pub-log-table">
      <:header>
        <TableHeaderToggle
          @onToggle={{this.updateOrder}}
          @field="created_at"
          @labelKey="admin.discourse_activity_pub.log.created_at"
          @automatic={{true}}
          @order={{this.order}}
          @asc={{this.asc}}
        />
        <TableHeaderToggle
          @onToggle={{this.updateOrder}}
          @field="level"
          @labelKey="admin.discourse_activity_pub.log.level"
          @automatic={{true}}
          @order={{this.order}}
          @asc={{this.asc}}
        />
        <TableHeaderToggle
          @field="message"
          @labelKey="admin.discourse_activity_pub.log.message"
          @automatic={{true}}
          @order={{this.order}}
          @asc={{this.asc}}
        />
        <div
          class="activity-pub-json-table-json directory-table__column-header"
        >
          <div class="header-contents">
            {{i18n "admin.discourse_activity_pub.log.json.label"}}
          </div>
        </div>
      </:header>
      <:body>
        {{#each this.logs as |log|}}
          <div class="directory-table__row activity-pub-log-row">
            <div class="directory-table__cell activity-pub-log-created-at">
              {{formatDate log.created_at leaveAgo="true"}}
            </div>
            <div class="directory-table__cell activity-pub-log-level">
              {{log.level}}
            </div>
            <div class="directory-table__cell activity-pub-log-message">
              {{log.message}}
            </div>
            <div class="directory-table__cell activity-pub-log-json">
              {{#if log.json}}
                <DButton
                  @action={{action "showJson" log}}
                  @icon="code"
                  @label="admin.discourse_activity_pub.log.json.show.label"
                  @title="admin.discourse_activity_pub.log.json.show.title"
                  class="activity-pub-log-show-json-btn"
                />
              {{/if}}
            </div>
          </div>
        {{/each}}
      </:body>
    </ResponsiveTable>

    <ConditionalLoadingSpinner @condition={{this.loadingMore}} />
  {{else}}
    <p>{{i18n "search.no_results"}}</p>
  {{/if}}
</LoadMore>