{{#admin-nav}}
  <DNavigationItem @route="adminActivityPubActor">
    <span>{{i18n "admin.discourse_activity_pub.actor.category.label"}}</span>
  </DNavigationItem>
  <li class="activity-pub-add-actor">
    <LinkTo
      @route="adminActivityPubActorShow"
      @model={{this.newActor}}
    >
      {{d-icon "plus"}}
      <span>{{i18n "admin.discourse_activity_pub.actor.add.label"}}</span>
    </LinkTo>
  </li>
{{/admin-nav}}

<div class="admin-container">
  {{outlet}}
</div>