<div class={{this.containerClass}}>
  <div class="admin-title activity-pub-actor-title">
    <h2>{{titleLabel}}</h2>
  </div>

  <div class="activity-pub-actor-header">
    {{#if this.actor.isNew}}
      <div class="activity-pub-actor-setting activity-pub-new-actor-model">
        <DropdownSelectBox
          @nameProperty="label"
          @value={{this.actor.model_type}}
          @content={{this.modelTypes}}
          @onChange={{action (mut this.actor.model_type)}}
          class="activity-pub-model-type-chooser"
          @options={{hash
            none="admin.discourse_activity_pub.actor.model_type.none"
          }}
        />

        {{#if (eq this.actor.model_type "category")}}
          <ActivityPubCategoryChooser
            @value={{this.categoryId}}
            @onChange={{action "changeCategoryId"}}
            @options={{hash
              none="admin.discourse_activity_pub.actor.category.none"
              hasActor=false
            }}
          />
        {{/if}}
        {{#if (eq this.actor.model_type "tag")}}
          <ActivityPubTagChooser
            @tagId={{this.tag}}
            @onChange={{action "changeTag"}}
            @options={{hash hasActor=false}}
          />
        {{/if}}
      </div>
    {{else}}
      <ActivityPubActorModel @actor={{this.actor}} />
      <ActivityPubStatus
        @model={{this.actor.model}}
        @modelType={{this.actor.model_type}}
      />
      <ActivityPubHandle @actor={{this.actor}} />
      <div class="activity-pub-actor-enabled-toggle">
        <DToggleSwitch
          @state={{this.enabled}}
          @label={{this.enabledLabel}}
          {{on "click" this.toggleEnabled}}
        />
      </div>
    {{/if}}
  </div>

  <div class="activity-pub-actor-form-container">
    <div class="activity-pub-actor-form">
      {{#if this.showForm}}
        <section class="activity-pub-actor-setting activity-pub-username">
          <label for="activity-pub-username">{{i18n
              "admin.discourse_activity_pub.actor.username"
            }}</label>
          <div class="activity-pub-username-input">
            <Input id="activity-pub-username" @value={{this.actor.username}} />
            <span
              class="activity-pub-host"
            >@{{this.site.activity_pub_host}}</span>
          </div>
          <div class="activity-pub-actor-setting-description">
            <span>{{i18n
                "admin.discourse_activity_pub.actor.username_description"
                min_length=this.siteSettings.min_username_length
                max_length=this.siteSettings.max_username_length
              }}</span>
          </div>
        </section>

        <section class="activity-pub-actor-setting activity-pub-name">
          <label for="activity-pub-name">{{i18n
              "admin.discourse_activity_pub.actor.name"
            }}</label>
          <Input id="activity-pub-name" @value={{this.actor.name}} />
          <div class="activity-pub-actor-setting-description">
            {{i18n "admin.discourse_activity_pub.actor.name_description"}}
          </div>
        </section>

        {{#if this.site.activity_pub_publishing_enabled}}
          <section
            class="activity-pub-actor-setting activity-pub-default-visibility"
          >
            <label for="activity-pub-default-visibility">{{i18n
                "admin.discourse_activity_pub.actor.default_visibility"
              }}</label>
            <ActivityPubVisibilityDropdown
              @value={{this.actor.default_visibility}}
              @onChange={{action (mut this.actor.default_visibility)}}
              @publicationType={{this.actor.publication_type}}
              @objectType={{this.actor.post_object_type}}
            />
            <div class="activity-pub-actor-setting-description">
              {{i18n
                "admin.discourse_activity_pub.actor.default_visibility_description"
              }}
            </div>
          </section>

          <section
            class="activity-pub-actor-setting activity-pub-post-object-type"
          >
            <label for="activity-pub-post-object-type">{{i18n
                "admin.discourse_activity_pub.actor.post_object_type"
              }}</label>
            <ActivityPubPostObjectTypeDropdown
              @value={{this.actor.post_object_type}}
              @onChange={{action (mut this.actor.post_object_type)}}
            />
            <div class="activity-pub-actor-setting-description">
              {{i18n
                "admin.discourse_activity_pub.actor.post_object_type_description"
              }}
            </div>
          </section>

          <section
            class="activity-pub-actor-setting activity-pub-publication-type"
          >
            <label for="activity-pub-post-object-type">{{i18n
                "admin.discourse_activity_pub.actor.publication_type"
              }}</label>
            <ActivityPubPublicationTypeDropdown
              @value={{this.actor.publication_type}}
              @modelType={{this.actor.model_type}}
              @onChange={{action (mut this.actor.publication_type)}}
            />
            <div class="activity-pub-actor-setting-description">
              {{i18n
                "admin.discourse_activity_pub.actor.publication_type_description"
              }}
            </div>
          </section>
        {{/if}}
      {{/if}}
    </div>

    <div class="activity-pub-actor-form-extra">
      {{#if (and this.showForm this.siteSettings.login_required)}}
        <section
          class="activity-pub-actor-setting-extra activity-pub-site-settings"
        >
          <div class="activity-pub-site-setting-title">
            {{i18n "admin.discourse_activity_pub.actor.site_setting.title"}}
          </div>
          <ActivityPubSiteSettingNotice
            @setting="activity_pub_enabled"
            @modelType={{this.actor.model_type}}
          />
          <ActivityPubSiteSettingNotice
            @setting="login_required"
            @modelType={{this.actor.model_type}}
          />
        </section>
      {{/if}}
    </div>
  </div>

  <div class="activity-pub-actor-gutter">
    {{#if this.showForm}}
      <ConditionalLoadingSpinner @condition={{this.saving}} @size="small" />
      {{#if this.saveResponse}}
        <span class="activity-pub-actor-save-response {{this.saveResponse}}">
          {{#if this.saveSuccess}}
            {{d-icon "check"}}
            {{i18n "admin.discourse_activity_pub.actor.save.success"}}
          {{else}}
            {{d-icon "times"}}
            {{i18n "admin.discourse_activity_pub.actor.save.failed"}}
          {{/if}}
        </span>
      {{/if}}
      <DButton
        @action={{action "saveActor"}}
        @label="admin.discourse_activity_pub.actor.save.label"
        @title="admin.discourse_activity_pub.actor.save.title"
        @class="activity-pub-save-actor btn-primary"
        @disabled={{not this.canSave}}
      />
    {{/if}}
  </div>
</div>