{{#admin-nav}}
  <li>
    <LinkTo
      @route="adminPlugins.activityPub.actor"
      @query={{hash model_type="category"}}
    >
      <span>{{i18n "admin.discourse_activity_pub.actor.category.label"}}</span>
    </LinkTo>
  </li>
  <li>
    <LinkTo
      @route="adminPlugins.activityPub.actor"
      @query={{hash model_type="tag"}}
    >
      <span>{{i18n "admin.discourse_activity_pub.actor.tag.label"}}</span>
    </LinkTo>
  </li>
  <li>
    <LinkTo @route="adminPlugins.activityPub.log">
      <span>{{i18n "admin.discourse_activity_pub.log.label"}}</span>
    </LinkTo>
  </li>
  <li class={{this.addActorClass}}>
    <LinkTo
      @route="adminPlugins.activityPub.actorShow"
      @model={{this.newActor}}
      @query={{hash model_type=this.model_type}}
    >
      {{d-icon "plus"}}
      <span>{{i18n this.addActorLabel}}</span>
    </LinkTo>
  </li>
{{/admin-nav}}

<div class="admin-container">
  {{outlet}}
</div>