<div class="activity-pub-follow-domain">
  <label>{{i18n "discourse_activity_pub.follow.domain.label"}}</label>
  <div class="activity-pub-follow-domain-controls inline-form">
    <Input
      id="activity_pub_follow_domain_input"
      @value={{this.domain}}
      placeholder={{i18n "discourse_activity_pub.follow.domain.placeholder"}}
      {{on "keyup" this.onKeyup}}
    />
    <DButton
      @id="activity_pub_follow_domain_button"
      @icon="external-link-alt"
      @action={{action "follow"}}
      @label="discourse_activity_pub.follow.domain.btn_label"
      @title="discourse_activity_pub.follow.domain.btn_title"
      @disabled={{this.verifying}}
    />
  </div>
  <div class={{footerClass}}>
    {{#if this.error}}
      {{this.error}}
    {{else if this.verifying}}
      {{i18n "discourse_activity_pub.follow.domain.verifying"}}
    {{else}}
      {{i18n "discourse_activity_pub.follow.domain.description"}}
    {{/if}}
  </div>
</div>