<div class={{containerClass}}>
  <label class="control-label">{{title}}</label>
  <div class="controls">
    <label>{{description}}</label>
    {{#if verifiedDomain}}
      <span class="activity-pub-authorize-verified-domain">
        <a class="btn">{{this.domain}}</a>
        <DButton
          @icon="times"
          @action={{action "clearDomain"}}
          @title="user.discourse_activity_pub.clear_domain_button.title"
          id="user_activity_pub_authorize_clear_domain"
          class="activity-pub-authorize-clear-domain"
        />
      </span>
      <DButton
        @icon="fingerprint"
        @action={{action "authorizeDomain"}}
        @label="user.discourse_activity_pub.authorize_button.label"
        @title="user.discourse_activity_pub.authorize_button.title"
        id="user_activity_pub_authorize_authorize_domain"
        class="activity-pub-authorize-domain"
      />
    {{else}}
      <Input
        @value={{this.domain}}
        disabled={{this.verifyingDomain}}
        placeholder={{this.placeholder}}
        id="user_activity_pub_authorize_domain"
      />
      <DButton
        @icon="check"
        @action={{action "verifyDomain"}}
        @label="user.discourse_activity_pub.verify_domain_button.label"
        @title="user.discourse_activity_pub.verify_domain_button.title"
        @disabled={{this.verifyingDomain}}
        id="user_activity_pub_authorize_verify_domain"
        class="activity-pub-authorize-verify-domain"
      />
    {{/if}}
  </div>
  <div class="instructions">
    {{instructions}}
  </div>
</div>