<div class="activity-pub-status {{this.statusClass}}" title={{this.translatedTitle}}>
  {{d-icon "discourse-activity-pub"}}
  <span class="label" title={{this.translatedLabelTitle}}>{{this.translatedLabel}}</span>
</div>
