<a
  class={{this.classes}}
  href={{this.href}}
  title={{i18n 'discourse_activity_pub.category_nav.description' category_name=@category.name}}
  >
  {{d-icon "discourse-activity-pub"}}
  {{i18n 'discourse_activity_pub.category_nav.label'}}
</a>