<div class="activity-pub-authorize-account">
  <h4>{{i18n "user.discourse_activity_pub.authorize_account.title"}}</h4>
  <label class="activity-pub-authorize-account-description">
    {{i18n "user.discourse_activity_pub.authorize_account.description"}}
  </label>
  <div class="activity-pub-authorize-account-controls">
    {{#if verifiedDomain}}
      <span class="activity-pub-authorize-account-verified-domain">
        <label>{{this.domain}}</label>
        <DButton
          @id="user_activity_pub_authorize_account_clear_domain"
          @class="activity-pub-add-account-clear-domain"
          @icon="times"
          @action={{action "clearDomain"}}
          @title="user.discourse_activity_pub.clear_domain_button.title"
        />
      </span>
      <DButton
        @id="user_activity_pub_authorize_account_authorize_domain"
        @class="activity-pub-add-account-authorize-domain"
        @icon="fingerprint"
        @action={{action "authorizeDomain"}}
        @label="user.discourse_activity_pub.authorize_account_button.label"
        @title="user.discourse_activity_pub.authorize_account_button.title"
      />
    {{else}}
      <Input
        id="user_activity_pub_authorize_account_domain"
        @value={{this.domain}}
        disabled={{this.verifyingDomain}}
        placeholder={{i18n "user.discourse_activity_pub.authorize_account.placeholder"}}
      />
      <DButton
        @id="user_activity_pub_authorize_account_verify_domain"
        @class="activity-pub-add-account-verify-domain"
        @icon="check"
        @action={{action "verifyDomain"}}
        @label="user.discourse_activity_pub.verify_domain_button.label"
        @title="user.discourse_activity_pub.verify_domain_button.title"
        @disabled={{this.verifyingDomain}}
      />
    {{/if}}
  </div>
  <span class="control-instructions">
    {{i18n "user.discourse_activity_pub.authorize_account.instructions"}}
  </span>
</div>