<a
  class={{this.classes}}
  href={{this.href}}
  title={{this.title}}
  {{did-insert this.setup}}
  {{did-update this.changeCategory @category}}
  {{did-update this.changeTag @tag}}
  {{will-destroy this.teardown}}
>
  {{d-icon "discourse-activity-pub"}}
  {{i18n "discourse_activity_pub.discovery.label"}}
</a>