<DModal
  @closeModal={{@closeModal}}
  @title={{this.title}}
  class="activity-pub-post-admin-modal"
>
  <:body>
    <div class="control-group">
      <label>{{i18n "post.discourse_activity_pub.info.group_actors"}}</label>
      <div class="controls">
        <ActivityPubAdminInfo
          @post={{this.post}}
          @topic={{this.topic}}
          @context="post"
        />
      </div>
    </div>
    <div class="control-group">
      <label>{{i18n "post.discourse_activity_pub.actions.label"}}</label>
      <div class="controls">
        <ActivityPubPostActions @post={{this.post}} />
      </div>
    </div>
  </:body>
  <:footer>
    <DButton
      @icon="circle-info"
      @label="post.discourse_activity_pub.info.label"
      @action={{this.showInfo}}
      class="show-info"
    />
  </:footer>
</DModal>