<DModal
  @closeModal={{@closeModal}}
  @title={{this.title}}
  class="activity-pub-topic-admin-modal"
>
  <:body>
    <div class="control-group">
      <label>{{i18n "topic.discourse_activity_pub.info.group_actors"}}</label>
      <div class="controls">
        <ActivityPubAdminInfo @topic={{this.topic}} @context="topic" />
      </div>
    </div>
    <div class="control-group">
      <label>{{i18n "topic.discourse_activity_pub.actions.label"}}</label>
      <div class="controls">
        <ActivityPubTopicActions @topic={{this.topic}} />
      </div>
    </div>
    <div class="control-group">
      <label>{{i18n "post.discourse_activity_pub.actions.label"}}</label>
      <div class="controls">
        <ActivityPubPostActions @post={{this.firstPost}} />
      </div>
    </div>
  </:body>
  <:footer>
    <DButton
      @icon="circle-info"
      @label="topic.discourse_activity_pub.info.label"
      @action={{this.showInfo}}
      class="show-info"
    />
  </:footer>
</DModal>