<DModal
  @closeModal={{@closeModal}}
  @title={{this.title}}
  class="activity-pub-follow-modal"
>
  <:body>
    <div class="activity-pub-follow-controls">
      <ActivityPubFollowDomain @actor={{@model.actor}} />
      <label class="activity-pub-handle-label">
        {{i18n "discourse_activity_pub.handle.label"}}
      </label>
      <ActivityPubHandle @actor={{@model.actor}} @hideLink={{true}} />
      <div class="activity-pub-handle-description">
        {{i18n "discourse_activity_pub.handle.description"}}
      </div>
    </div>
  </:body>
</DModal>