<DModal
  @closeModal={{@closeModal}}
  @title={{this.title}}
  class="activity-pub-post-info-modal"
>
  <:body>
    <div class="activity-pub-post-info-list">
      <span class="activity-pub-state">{{d-icon
          this.stateIcon
        }}{{this.stateText}}</span>
      {{#if this.showVisibility}}
        <span class="activity-pub-visibility">{{d-icon
            this.visibilityIcon
          }}{{this.visibilityText}}</span>
      {{/if}}
      {{#if this.showUrl}}
        <span class="activity-pub-url">
          <a
            href={{@model.post.activity_pub_url}}
            target="_blank"
            rel="noopener noreferrer"
          >
            {{d-icon "up-right-from-square"}}
            {{this.urlText}}
          </a>
        </span>
      {{/if}}
      {{#if this.showObjectId}}
        <span class="activity-pub-object-id">
          {{d-icon "link"}}
          <span>{{@model.post.activity_pub_object_id}}</span>
          {{#if this.copiedObjectId}}
            <DButton
              @icon="check"
              @title="ip_lookup.copied"
              class="activity-pub-object-id-copy success"
            >
              <div class="activity-pub-object-id-copy-text">
                {{i18n "post.controls.link_copied"}}
              </div>
            </DButton>
          {{else}}
            <DButton
              @action={{this.copyObjectId}}
              @icon="copy"
              class="no-text activity-pub-object-id-copy"
            />
          {{/if}}
        </span>
      {{/if}}
      {{#if this.showDelivered}}
        <span class="activity-pub-delivered">{{d-icon
            "envelope"
          }}{{this.deliveredText}}</span>
      {{/if}}
    </div>
  </:body>
</DModal>