<DSection @pageClass="user-preferences-activity-pub" />

<ActivityPubAuthorize />

{{#if hasAuthorizations}}
  <div class="activity-pub-authorizations">
    <ResponsiveTable @className="activity-pub-actor-table authorizations">
      <:header>
        <div
          class="activity-pub-actor-table-actor directory-table__column-header"
        >
          <div class="header-contents">
            {{i18n "admin.discourse_activity_pub.actor.table.actor"}}
          </div>
        </div>
        <div
          class="activity-pub-actor-table-auth-type directory-table__column-header"
        >
          <div class="header-contents">
            {{i18n "admin.discourse_activity_pub.actor.table.auth_type"}}
          </div>
        </div>
        <div
          class="activity-pub-actor-table-actions directory-table__column-header"
        >
          <div class="header-contents">
            {{i18n "admin.discourse_activity_pub.actor.table.actions"}}
          </div>
        </div>
      </:header>
      <:body>
        {{#each this.authorizations as |authorization|}}
          <div class="directory-table__row activity-pub-actor-table-row">
            <div class="directory-table__cell activity-pub-actor-table-actor">
              <ActivityPubActor @actor={{authorization.actor}} />
            </div>
            <div class="directory-table__cell activity-pub-actor-table-auth-type">
              {{i18n (concat "user.discourse_activity_pub.authorize." authorization.auth_type  ".title")}}
            </div>
            <div class="directory-table__cell activity-pub-actor-table-actions">
              <DButton
                @icon="times"
                @action={{action "remove" authorization}}
                @label="user.discourse_activity_pub.remove_authorization_button.label"
                @title="user.discourse_activity_pub.remove_authorization_button.title"
                id="user_activity_pub_authorize_remove_authorization"
                class="activity-pub-authorize-remove-authorization"
              />
            </div>
          </div>
        {{/each}}
      </:body>
    </ResponsiveTable>
  </div>
{{/if}}